body {
  background-image: url("https://s3-us-west-1.amazonaws.com/dashanddine/dashdine.jpg");
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
  max-width: 100%;
  max-height: auto;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

.mainJumbotron {
  align-items: center;
  margin-top: 5%;
  width: auto;
  background: rgba(228, 226, 228, 0.75);
  text-align: center;
}

.mainTitle {
  font-size: 15vh !important;
  text-align: center;
}

.weatherContainer {
  height: 150px;
  text-align: center;
  position: relative;
  margin-top: 5%;
  margin-bottom: 140px;
}

.text-image {
  font-size: 80px;
  position: absolute;
  top: 19%;
  left: 36%;
  color: white;
  font-family: 'Kaushan Script', cursive;
}

#description {
  font-size: 35px;
  position: absolute;
  top: 100%;
  left: 41%;
  /*left: 200px;*/
  color: white;
  font-family: 'Kaushan Script', cursive;
}

.image {
  border-radius: 50%;
  border: 1px solid black;
}

.cardStyle {
  margin-top: 5%;
  width: auto%;
  height: auto;
  margin-left: 33px;
}

.inputStyle {
  width: 500px;
  font-size: 30px;
}

.btnStyle {
  font-size: 40px;
}

#nextRest {
  text-align: center;
  align-items: center;
  margin-right: 1%;
  margin-bottom: 5%;
}

.cardTitle {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 50%;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-style: italic;
}

#cuisine {
  font-size: 17px;
  margin-bottom: 3px;
}

.companyName {
  font-family: 'Kaushan Script', cursive;
  margin-top: 0;
  font-size: 40px;
}

.details {
  align-items: center;
  margin-top: 3%;
  width: auto;
  /*height: 90vh;*/
  background: rgba(228, 226, 228, 0.75);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

#fullAdress {
  font-size: 15px;
}

#phone {
  font-size: 14px;
  margin-bottom: -2px;
}

#reviewCount {
  font-size: 15px;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 10px;
}

#starRating {
  font-size: 18px;
  display: inline-block;
  float: right;
  margin-bottom: -10px;
}

.center-block {
  margin-bottom: 30px;
}
